<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Chiayuyu 的轉換器</h2>
          <hr>
          <form ng-controller="dingCtrl">
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" placeholder="多少錢啦" ng-model="model.origin_number" align="right">
              </div>
            </div>

            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon">西式</span>
                <input type="text" class="form-control" placeholder="你還沒輸入啊" readonly="readonly" align="right"
                  value="{{to_western_number(parse_number(model.origin_number))}}">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="copy_to_clipboard(to_western_number(parse_number(model.origin_number)))">
                    <i class="fa fa-clipboard"></i>
                  </button>
                </span>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon">中式</span>
                <input type="text" class="form-control" placeholder="你還沒輸入啊" readonly="readonly" align="right"
                  value="{{to_east_number(parse_number(model.origin_number))}}">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="copy_to_clipboard(to_east_number(parse_number(model.origin_number)))">
                    <i class="fa fa-clipboard"></i>
                  </button>
                </span>
              </div>
            </div>

          </form>
        </div>
      </div>

    </div>
  </div>
</div>
