<md-content class="md-padding">
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="台北市禁停紅線查詢">

      <div layout="row" layout-wrap ng-controller="mapViewCtrl">
        <div flex>
          <md-content class="md-padding">
            <md-whiteframe class="md-whiteframe-z1" layout>
              <div flex>
                <md-toolbar class="md-primary">
                  <div class="md-toolbar-tools">
                    <h2 class="md-flex">台北市禁停紅線查詢</h2>
                  </div>
                </md-toolbar>
                <md-content layout-padding>
                  <div>
                    <p>移動地圖上的圖標，取得最接近的禁停紅線資訊</p>
                    <hr>
                    <div ng-if="markers['CurrentParkingLine']">
                      <dl>
                        <dt>長度：</dt>
                        <dd>{{markers['CurrentParkingLine'].info.length}} 公尺</dd>
                        <dt>更新日期：</dt>
                        <dd>{{markers['CurrentParkingLine'].info.maintained_at}}</dd>
                      </dl>
                    </div>
                    <div ng-if="!markers['CurrentParkingLine']">
                      <p>尚無選擇欲查詢位置</p>
                    </div>
                  </div>
                </md-content>
              </div>
            </md-whiteframe>
          </md-content>
        </div>
        <div flex="70">
          <md-content class="md-padding">
            <div class="map-view">
              <leaflet center="center" tiles="tiles" layers="layers" markers="markers" geojson="geojson" event-broadcast="events"></leaflet>
            </div>
          </md-content>
        </div>
      </div>

    </md-tab>
    <md-tab label="two">
      <md-content class="md-padding">
        <h1 class="md-display-2">Tab</h1>
        <p>Nothing</p>
      </md-content>
    </md-tab>
  </md-tabs>
</md-content>
