<!--

-->
<md-content class="md-padding">
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="台北市禁停紅線查詢">

      <div layout="row" layout-wrap ng-controller="mapViewCtrl">
        <div flex>
          <md-content class="md-padding">
            <md-whiteframe class="md-whiteframe-z1" layout>
              <div flex>
                <md-toolbar class="md-primary">
                  <div class="md-toolbar-tools">
                    <h2 class="md-flex">台北市禁停紅線查詢</h2>
                  </div>
                </md-toolbar>
                <md-content layout-padding>
                  <div>
                    <p>移動地圖上的圖標，取得最接近的禁停紅線資訊</p>
                    <hr>
                    <div ng-if="markers['CurrentParkingLine']">
                      <dl>
                        <dt>長度：</dt>
                        <dd>{{markers['CurrentParkingLine'].info.length}} 公尺</dd>
                        <dt>更新日期：</dt>
                        <dd>{{markers['CurrentParkingLine'].info.maintained_at}}</dd>
                      </dl>
                    </div>
                    <div ng-if="!markers['CurrentParkingLine']">
                      <p>尚無選擇欲查詢位置</p>
                    </div>
                  </div>
                </md-content>
              </div>
            </md-whiteframe>
          </md-content>
        </div>
        <div flex="70">
          <md-content class="md-padding">
            <div class="map-view">
              <leaflet center="center" tiles="tiles" layers="layers" markers="markers" geojson="geojson" event-broadcast="events"></leaflet>
            </div>
          </md-content>
        </div>
      </div>

    </md-tab>
    <md-tab label="two">
      <md-content class="md-padding">
        <h1 class="md-display-2">Tab Two</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
        <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
      </md-content>
    </md-tab>
  </md-tabs>
</md-content>
